<div>
<p>Your input</p>
<%= @question %>
</div>

<div >
<p>Your answer</p>
<%= @answer %>
</div>

<button class="btn btn-primary" type="submit">
  <%= link_to "Ask a new question", ask_path %>
</button>
